[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.4"
django-jazzmin = "*"
djangorestframework = "==3.14.0"
gunicorn = "==21.2.0"
whitenoise = "==5.0"
dj-database-url = "==2.1.0"
psycopg2-binary = "==2.9.7"
python-dotenv = "==1.0.0"
django-extensions = "==3.2.3"
django-simpleui = "==2023.8.28"
celery = "==5.3.4"
redis = "==5.0.0"
pillow = "==10.0.0"
django-ltree = "==0.5.3"
django-embed-video = "==1.4.9"
python-telegram-bot = "==20.5"
django-filter = "==23.2"
django-celery-email = "==3.0.0"
cryptography = "==41.0.3"
django-phonenumber-field = {extras = ["phonenumbers"],version = "==7.1.0"}
drf-recaptcha = "==3.0.0"
django-bulk-admin = {editable = true, git = "https://github.com/icrazymob/django_bulk_admin@master"}
django-ckeditor = "==6.7.0"
python-telegram-logger = "==1.4"
django-ordered-model = "==3.7.4"
django-anymail = {extras = ["sendinblue"],version = "==10.1"}
instabot = "==0.117.0"
jet-django = "==1.8.10"
django-adminlte2 = "==0.4.3"
django-related-admin = "==1.0.1"
coinbase-commerce = "==1.0.1"
pycld2 = "==0.41"
drf-api-tracking = "==1.8.0"
django-admin-sortable2 = "==2.1.9"
django-admin-tools = "==0.9.3"
django-yarnpkg = "==6.1.0"
django-recurrence = "==1.11.1"
html-sanitizer = "==2.2.0"
django-paranoid = "==1.0"
django-field-history = "==0.8.0"
djoser = "==2.2.0"
openpyxl = "*"

[dev-packages]
mypy = "==1.0.0"
flake8 = "==4.0.1"
flake8-docstrings = "==1.6.0"
flake8-broken-line = "==0.4.0"
flake8-builtins = "==1.5.3"
flake8-commas = "==2.1.0"
flake8-comprehensions = "==3.10.0"
flake8-import-order = "==0.18.1"
flake8-mutable = "==1.2.0"
flake8-quotes = "==3.3.1"
flake8-string-format = "==0.3.0"
flake8-variables-names = "==0.0.5"
flake8-functions-names = "==0.3.0"

[requires]
python_version = "3.11"
