//
// Layout Config
//

// Root font Sizes
$root-font-size:                                    15px; // Root font size for desktop mode
$root-font-size-lg:                             	16px; // Root font size for tablet mode
$root-font-size-md:                             	16px; // Root font size for mobile mode

// Page  background Color
// $page-bg: 											#D4DED6 !default;
// $page-bg-dark: 										#060818 !default;
$page-bg: 											#D4DED6 !default;
$page-bg-dark: 										#000000 !default;

// Content Spacing
$content-spacing-x: (
	desktop: 50px, // Padding for desktop mode
	tablet-and-mobile: 12px // Padding for tablet and mobile modes
) !default;

$content-spacing-y: (
	desktop: 40px, // Padding for desktop mode
	tablet-and-mobile: 20px // Padding for tablet and mobile modes
) !default;

// Header
$header-config: (
	bg-color: linear-gradient(180deg, $page-bg-dark, transparent),
	z-index: 97,
	box-shadow: none,
	box-shadow-dark: none,
	height: (
		desktop: 70px,
		tablet-and-mobile: 60px
	)
) !default;

// Aside
// menu-link-bg-color-active-dark: linear-gradient(40deg, #093, #0040FF),
$aside-config: (
	bg-color: $body-bg,
	bg-color-dark: $page-bg-dark,
	menu-link-bg-color-hover: $primary-active,
	menu-link-bg-color-active: $primary-light-dark,
	menu-link-bg-color-active-dark: $body-bg-dark,
	z-index: 101,
	width: 265px
) !default;
