//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// $body-bg-dark: 										#0e1726;
// Theme colors
// Primary
// $primary:       									#3150F6;
$primary:       									#DADEE5;
// $primary:											#0F9959;
$primary-active:    								#2C3035;
$primary-light:    								    #3790FF;
$primary-light-dark:    							#181B1F;
$primary-inverse:  									#000;

// Success
$success:       									#04c8c8;
$success-active:    								#00afaf;
$success-light:    									#dcfdfd;
$success-light-dark:    							#1c3238;
$success-inverse:  									#ffffff;


// $success:       									#089938;
// $success-active:    								#5CC960;
// $success-light:    									#dcfdfd;
// $success-light-dark:    							#1D401E;
// $success-inverse:  									#ffffff;

// Info
$info:       									    #0A9CCC;
$info-active:    									#4AA2D7;
$info-light:    									#f8f5ff;
$info-light-dark:    								#1A394C;
$info-inverse:  									#ffffff;

// // Danger
// $danger:       									    #CC2F2F;
// $danger-active:    									#EF4F4B;
// $danger-light:    									#fff5f8;
// $danger-light-dark:    								#491817;
// $danger-inverse:  									#ffffff;

// // Warning
// $warning:       									#BFA10A;
// $warning-active:    								#D7BB42;
// $warning-light:    									#fff8dd;
// $warning-light-dark:    							#564B1A;
// $warning-inverse:  									#ffffff;

// // Info
// $info:       									    #7239ea;
// $info-active:    									#5014d0;
// $info-light:    									#f8f5ff;
// $info-light-dark:    								#2f264f;
// $info-inverse:  									#ffffff;

// Danger
$danger:       									    #f1416c;
$danger-active:    									#d9214e;
$danger-light:    									#fff5f8;
$danger-light-dark:    								#3a2434;
$danger-inverse:  									#ffffff;

// $secondary: 					#4A4A4A !default;
// $secondary-dark: 				#777777 !default;
// $secondary-active: 				#777777 !default;
// $secondary-active-dark: 		#777777 !default;
// $secondary-light: 				#373737 !default;
// $secondary-light-dark: 			#373737 !default;
// $secondary-inverse:				#979797 !default;
// $secondary-inverse-dark:		#979797 !default;

// Warning
$warning:       									#ffc700;
$warning-active:    								#f1bc00;
$warning-light:    									#fff8dd;
$warning-light-dark:    							#392f28;
$warning-inverse:  									#ffffff;

// Border radiues
$border-radius:               						0.95rem;
$border-radius-sm:            						.475rem;

// Card
$card-border-radius:                				$border-radius;

// Accordion
$accordion-border-radius:                           $border-radius;

// Button
$btn-border-radius-sm:                              $border-radius;

// Accordion
$accordion-border-radius:                           $card-border-radius;

// Modals
$modal-content-border-radius:                       $card-border-radius;

// Badge
$badge-border-radius:                               $border-radius-sm;

$dropdown-link-color:    								#fff;
$dropdown-bg:    								#27273a;
$dropdown-link-hover-color:    								#fff;
$dropdown-link-hover-bg:    								$primary-active;
$dropdown-padding-y:    								0;
$dropdown-item-padding-y:    								.5rem;
$dropdown-item-padding-x:    								.5rem;
