//
// Theme style
//

// Initialize
@import "init";

// Components
@import "components/components";


// Layout
@import "layout/layout";

body {
  color: #DADFE5;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    // background: #000;
    opacity:0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(29 33 38);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

@font-face {
  font-family: "SuisseIntl";
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/SuisseIntl/SuisseIntl-Light.otf") format("opentype");
}

@font-face {
  font-family: "SuisseIntl";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("./assets//fonts/SuisseIntl/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SuisseSign";
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/SuisseSign/SuisseSign-Thin.otf") format("opentype");
}

@font-face {
  font-family: "SuisseSign";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/SuisseSign/SuisseScreen-Regular-WebXL.ttf") format("truetype");
}

@font-face {
  font-family: "SuisseSign";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/SuisseSign/SuisseSign-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "SuisseSign";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url("./assets/fonts/SuisseSign/SuisseSign-Bold.otf") format("opentype");
}
