//
// Buttons Theme
//

// Outline dashed basic style
.btn.btn-outline.btn-outline-dashed {
  border-width: 1px;
  border-style: dashed;

  $color: null;
  $icon-color: null;
  $border-color: null;
  $bg-color: null;;

  $color-active: null;
  $icon-color-active: null;
  $border-color-active: var(--kt-primary);
  $bg-color-active: null;

  @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
}

// Theme colors
@each $name, $value in $theme-colors {
  // Base
  .btn.btn-#{$name} {
    $color: var(--kt-#{$name}-inverse);
    $icon-color: var(--kt-#{$name}-inverse);
    $border-color: var(--kt-#{$name});
    $bg-color: var(--kt-#{$name});

    $color-active: var(--kt-#{$name}-inverse);
    $icon-color-active: var(--kt-#{$name}-inverse);
    $border-color-active: var(--kt-#{$name}-active);
    $bg-color-active: var(--kt-#{$name}-active);

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Light
  @if (theme-light-color($name)) {
    .btn.btn-light-#{$name} {
      $color: var(--kt-#{$name});
      $icon-color: var(--kt-#{$name});
      $border-color: var(--kt-#{$name}-light);
      $bg-color: var(--kt-#{$name}-light);

      $color-active: var(--kt-#{$name}-inverse);
      $icon-color-active: var(--kt-#{$name}-inverse);
      $border-color-active: var(--kt-#{$name});
      $bg-color-active: var(--kt-#{$name});

      @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
    }
  }

  // Background
  .btn.btn-bg-#{$name} {
    $color: null;
    $icon-color: null;
    $border-color: var(--kt-#{$name});
    $bg-color: var(--kt-#{$name});

    $color-active: null;
    $icon-color-active: null;
    $border-color-active: null;
    $bg-color-active: null;

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Active
  .btn.btn-active-#{$name} {
    $color: null;
    $icon-color: null;
    $border-color: null;
    $bg-color: null;

    $color-active: var(--kt-#{$name}-inverse);
    $icon-color-active: var(--kt-#{$name}-inverse);
    $border-color-active: var(--kt-#{$name});
    $bg-color-active: var(--kt-#{$name});

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Light
  @if (theme-light-color($name)) {
    .btn.btn-active-light-#{$name} {
      $color: null;
      $icon-color: null;
      $border-color: null;
      $bg-color: null;

      $color-active: var(--kt-#{$name});
      $icon-color-active: var(--kt-#{$name});
      $border-color-active: var(--kt-#{$name}-light);
      $bg-color-active: var(--kt-#{$name}-light);

      @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
    }
  }

  // Outline
  .btn.btn-outline.btn-outline-#{$name} {
    $color: var(--kt-#{$name});
    $icon-color: var(--kt-#{$name});
    $border-color: var(--kt-#{$name});
    $bg-color: transparent;

    $color-active: var(--kt-#{$name}-active);
    $icon-color-active: var(--kt-#{$name}-active);
    $border-color-active: var(--kt-#{$name});
    $bg-color-active: var(--kt-#{$name}-light);

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }
}

// Theme text colors
@each $name, $value in $theme-text-colors {
  // Text and icon colors
  .btn.btn-color-#{$name} {
    $color: var(--kt-text-#{$name});
    $icon-color: var(--kt-text-#{$name});
    $bg-color: null;
    $border-color: null;

    $color-active: null;
    $icon-color-active: null;
    $border-color-active: null;
    $bg-color-active: null;

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Text and icon colors active state
  .btn.btn-active-color-#{$name} {
    $color: null;
    $icon-color: null;
    $border-color: null;
    $bg-color: null;

    $color-active: var(--kt-text-#{$name});
    $icon-color-active: var(--kt-text-#{$name});
    $border-color-active: null;
    $bg-color-active: null;

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Icon colors
  .btn.btn-icon-#{$name} {
    $color: null;
    $icon-color: var(--kt-text-#{$name});
    $bg-color: null;
    $border-color: null;

    $color-active: null;
    $icon-color-active: null;
    $border-color-active: null;
    $bg-color-active: null;

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Icon colors active state
  .btn.btn-active-icon-#{$name} {
    $color: null;
    $icon-color: null;
    $bg-color: null;
    $border-color: null;

    $color-active: null;
    $icon-color-active: var(--kt-text-#{$name});
    $border-color-active: null;
    $bg-color-active: null;

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Text colors
  .btn.btn-text-#{$name} {
    $color: var(--kt-text-#{$name});
    $icon-color: null;
    $bg-color: null;
    $border-color: null;

    $color-active: null;
    $icon-color-active: null;
    $border-color-active: null;
    $bg-color-active: null;

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Text colors active state
  .btn.btn-active-text-#{$name} {
    $color: null;
    $icon-color: null;
    $bg-color: null;
    $border-color: null;

    $color-active: var(--kt-text-#{$name});
    $icon-color-active: null;
    $border-color-active: null;
    $bg-color-active: null;

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }
}

.btn.btn-accent {
  @apply text-white;
  background: linear-gradient(85deg, var(--accent-color-start), var(--accent-color-end));
}

.btn.btn-outline-accent {
  background: linear-gradient(85deg, var(--accent-color-start), var(--accent-color-end));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border: 1px solid transparent;
    border-radius: 10px;
    background: inherit;
    background-origin: border-box;
    background-clip: border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    -webkit-mask-repeat: no-repeat;
  }

  // border-image: linear-gradient(85deg, var(--accent-color-start), var(--accent-color-end)) 1 !important;
}

// .button1 {
// 	border-image: linear-gradient(to right, #61aec7, #ccd400) 1;
// }

// .button1:before {
// 	background: linear-gradient(to right, #61aec7, #ccd400);
// }
// Social colors
@each $name, $value in $social-colors {
  // Base
  .btn.btn-#{$name} {
    $color: get($value, inverse);
    $icon-color: get($value, inverse);
    $border-color: get($value, base);
    $bg-color: get($value, base);

    $color-active: null;
    $icon-color-active: null;
    $border-color-active: get($value, active);
    $bg-color-active: get($value, active);

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }

  // Light
  .btn.btn-light-#{$name} {
    $color: get($value, base);
    $icon-color: get($value, base);
    $bg-color: get($value, light);
    $border-color: get($value, light);

    $color-active: get($value, inverse);
    $icon-color-active: get($value, inverse);
    $bg-color-active: get($value, base);
    $border-color-active: get($value, base);

    @include button-custom-variant($color, $icon-color, $border-color, $bg-color, $color-active, $icon-color-active, $border-color-active, $bg-color-active);
  }
}